<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container mt-5">
        <div class="row">
            <div class="col-md-4 mt-3" v-for="(list, index) in lists" :key="index">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4>{{ list.name }}</h4>
                            <button 
                            :class="list.status == 'creating' ? 'btn-warning' : 'btn-danger'"
                            class="btn btn-sm"
                            @click="removeList(index)">
                            {{ list.status == 'creating' ? 'cancelar' : 'eliminar'}}
                                
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="SaveList(list)" action="/">
                            <div class="form-group" v-if="list.status != saved">
                                <input class="form-control" placeholder="Nombre de la lista" v-model="list.name">
                            </div>
                            <button class="btn btn-primary btn-block" v-if="list.status == 'creating'">
                                Guardar
                            </button>
                            <div v-for="(card, index) in list.cards">
                                <p v-if="list.cards[index].status == 'ok'">{{index}} {{list.cards[index].name}}</p>
                                <form @submit.prevent="editlist(list)" action="/">
                                    <div class="form-group" >
                                        <input class="form-control" placeholder="Editar Item" v-model="list.cards[index].name" v-if="list.cards[index].status == 'no'">
                                    </div>
                                    <button @click="editlist(list, index)">
                                            {{ list.cards[index].status == 'ok' ? 'edit' : 'guardar'}}
                                       
                                        </button>

                                    </form>

                        </div>
                        </form>
                        <form @submit.prevent="saveCard(list)" action="/">
                            <div class="form-group" >
                                <input class="form-control" placeholder="Agregar Item" v-model="list.card">
                            </div>
                            <button class="btn btn-primary btn-block">
                                Agregar
                            </button>
                            </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <button class="btn rounded-0 btn-outline-dark btn-block" @click="addList">
                    Agregar lista
                </button>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./clase.js"></script>
</body>

</html>